#new-stream-modal.modal.fade{role: "dialog", tabindex: "-1"}
  = form_for Stream.new, html: { id: "new-stream-form", class: "form-horizontal" } do |f|
    .modal-dialog
      .modal-content
        .modal-header
          %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
          %h4.modal-title New Stream
        .modal-body
          .form-group
            = f.label :name, class: "col-sm-2 control-label"
            .col-sm-10
              = f.text_field :name, placeholder: "Name", class: "form-control"
          .form-group
            = f.label :avatar, class: "col-sm-2 control-label"
            .col-sm-10
              = f.file_field :avatar, class: "form-control"
              %p.help-block Your avatar will be scaled to 160x160.
          .form-group
            = f.label :channel_source, "Channel", class: "col-sm-2 control-label"
            .col-sm-10
              .radio
                %label
                  = f.radio_button :channel_source, "twitch", class: "px"
                  %span{class: "lbl"} Twitch
              .radio
                %label
                  = f.radio_button :channel_source, "youtube", class: "px"
                  %span{class: "lbl"} YouTube

              %br
              = f.text_field :channel_name, placeholder: "Channel Name", class: "form-control"
          .form-group
            = f.label :description, class: "col-sm-2 control-label"
            .col-sm-10
              = f.text_area :description, rows: 10, class: "form-control markdown-area"
      .modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Cancel
        %button.btn.btn-primary{type: "submit"} Create Stream
