#stream-wrapper{data: { stream_id: @stream.slug }}
  .col-md-6
    .row
      - if @stream.twitch?
        %object{data: "https://www-cdn.jtvnw.net/swflibs/TwitchPlayer.swf?channel=#{@stream.channel_name}", height: "360", type: "application/x-shockwave-flash", width: "590"}
          %param{name: "allowFullScreen", value: "true"}
          %param{name: "allowScriptAccess", value: "always"}
          %param{name: "allowNetworking", value: "all"}
          %param{name: "movie", value: "https://www-cdn.jtvnw.net/swflibs/TwitchPlayer.swf"}
          %param{name: "flashvars", value: "hostname=www.twitch.tv&amp;channel=#{@stream.channel_name}&amp;auto_play=true&amp;start_volume=25"}
      - elsif @stream.youtube?
        %iframe{width: 560, height: 315, src: "https://www.youtube.com/embed/#{@stream.channel_source}", allowfullscreen: "allowfullscreen"}

    .row
      = markdown @stream.description

  .col-md-6
    .row
      %ul.nav.nav-tabs.nav-tabs-simple
        %li.active
          %a{href: "#bets-tab", data: { toggle: "tab" }}
            %i.panel-title-icon.fa.fa-usd
            Bets
        %li
          %a{href: "#chat-tab", data: { toggle: "tab" }}
            %i.panel-title-icon.fa.fa-comments-o
            Chat

        - if @stream.collaborator?(current_user)
          %li
            %a{href: "#collaborators-tab", data: { toggle: "tab" }}
              %i.panel-title-icon.fa.fa-users
              Collaborators
          %li
            %a{href: "#match-tab", data: { toggle: "tab" }}
              %i.panel-title-icon.fa.fa-gamepad
              Match

      .tab-content
        = render partial: "/streams/tabs/bets"
        = render partial: "/streams/tabs/chat"
        - if @stream.collaborator?(current_user)
          = render partial: "/streams/tabs/collaborators"
          = render partial: "/streams/tabs/match"
